# {{ ansible_managed }}
{% if 'prd' in inventory_hostname %}
<VirtualHost *:443>
    ServerAdmin "{{ emails[0].email }}"
    ServerName crescendo.prepaidmeters.net

    SSLEngine on
    SSLCipherSuite ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP:+eNULL
    SSLCertificateFile /etc/apache2/ssl/prepaidmeters.net.20141021.crt
    SSLCertificateKeyFile /etc/apache2/ssl/prepaidmeters.net.20141021.key
    SSLCACertificateFile /etc/apache2/ssl/intermediate.20141021.crt
    SSLOptions +FakeBasicAuth +ExportCertData +StrictRequire

#
#    RewriteEngine On
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule ^([^\.]+)$ $1.php [NC,L]
#
    DocumentRoot {{ folders[0].path }}
    DirectoryIndex index.php

    <Directory {{ folders[0].path }}>
        Options FollowSymLinks
        AllowOverride All
    </Directory>

    <Directory {{ folders[0].path }}>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    ErrorLog /var/log/apache2/error.log

    # Possible values include: debug, info, notice, warn, error, crit, alert, emerg.
    LogLevel notice

    CustomLog /var/log/apache2/access.log combined
</VirtualHost>
{% else %}
<VirtualHost *:80>
    ServerAdmin "{{emails[0].email}}"

    ServerName crescendo.prepaidmeters.net.{{ tld[0].tld }}

#    RewriteEngine On
#    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

    DocumentRoot {{ folders[0].path }}

    DirectoryIndex index.php    

    <Directory {{ folders[0].path }}>
        Options FollowSymLinks
        AllowOverride All
    </Directory>

    <Directory {{ folders[0].path }}>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log

    # Possible values include: debug, info, notice, warn, error, crit, alert, emerg.
    LogLevel notice

    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

