;  ----------------------------------------------------------
;  NODE INFORMATION
;  ----------------------------------------------------------

node.name = "{{ inventory_hostname_short}}"
node.location = "Rack 7, West Coast, DC"


