;  ----------------------------------------------------------
;  APP SPECIFIC CONFIGURATIONS
;  ----------------------------------------------------------

include = node.ini; amqp.ini; prism.ini; logging.ini;



