
object Host "ppm-jhb-tv-110" {
  check_command = "hostalive"
  address = "192.168.1.110"
}
object Host "ppm-jhb-tv-111" {
  check_command = "hostalive"
  address = "192.168.1.111"
}
object Host "ppm-jhb-tv-112" {
  check_command = "hostalive"
  address = "192.168.1.112"
}
object Host "ppm-jhb-tv-113" {
  check_command = "hostalive"
  address = "192.168.1.113"
}
object Host "ppm-jhb-tv-114" {
  check_command = "hostalive"
  address = "192.168.1.114"
}
object Host "ppm-jhb-tv-115" {
  check_command = "hostalive"
  address = "192.168.1.115"
}
object Host "ppm-jhb-tv-116" {
  check_command = "hostalive"
  address = "192.168.1.116"
}