<VirtualHost *:80>
    ServerAdmin "{{emails[0].email}}"

{% if 'prd' in inventory_hostname %}
    ServerName erp.prepaidmeters.co.za
{% else %}
    ServerName erp.prepaidmeters.{{ tld[0].tld }}
{% endif %}
    
{% if 'prd' in inventory_hostname %}
    ServerAlias temp.erp.prepaidmeters.co.za
{% else %}
    ServerAlias temp.erp.prepaidmeters.{{ tld[0].tld }}
{% endif %}

# remove   DirectoryIndex erpindex.php
# remove     DirectoryIndex index.php

    SetEnv constantsfile {{ project_path }}/trunk/includes/incgenericincludes.php
#   DirectoryIndex erpindex.php
    DirectoryIndex index.php

    DocumentRoot {{ project_path }}/trunk/

	<Directory />
            Options FollowSymLinks
            AllowOverride None
	</Directory>
	<Directory {{ project_path }}/trunk/>
            Options Indexes FollowSymLinks MultiViews
            AllowOverride None
            Order allow,deny
            allow from all
	</Directory>

	ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
	<Directory "/usr/lib/cgi-bin">
            AllowOverride None
            Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
            Order allow,deny
            Allow from all
	</Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log

    # Possible values include: debug, info, notice, warn, error, crit, alert, emerg.
    LogLevel error

    CustomLog ${APACHE_LOG_DIR}/access.log combined

    Alias /doc/ "/usr/share/doc/"
    <Directory "/usr/share/doc/">
        Options Indexes MultiViews FollowSymLinks
        AllowOverride None
        Order deny,allow
        Deny from all
        Allow from 127.0.0.0/255.0.0.0 ::1/128
    </Directory>

   <Files ~ "^\.ht">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "\.inc">
        Order allow,deny
        Deny from all   
    </Files>

    <Files ~ "\.sql">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "\.sh">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "\.pl">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "\.zip">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "\.gz">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "\.tar">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "~">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "git">
        Order allow,deny
        Deny from all   
    </Files>
    <Files *.ini>
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "zzz">
        Order allow,deny
        Deny from all   
    </Files>
    <Files ~ "bak">
        Order allow,deny
        Deny from all   
    </Files>
</VirtualHost>
