ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDbLgvUfk9mu0CKmc4vCOwTBHcezApBQwgTQWukMVpT+pIXHX3ZGHjGuyEZJ1sxLl/26cEHnAAWByh5kAXIbLJAsG1yZ5hqSMWL3K2IYExpG18HJEYJTer/on7mOWuVAAkdAeANyvdJ0HarqG9kGz+dMMM+glRHXX57T3W+tPGK0K46opNVZLnkYljIxpoasGq165jnFhan+TQjNybj2vY+J4g5sFaN6sJiDB1e3Rc6hOz04PWyYe5JLbDq2pHv17ZbDj+qoIPQElb9Pggcj2jGW4pj2gIQnqc7FURgaB4b1VvoUJBimTFejVu9ABPe2wj2kplRvCQQmAqWYhvTCnWj root@prd-ppm-file-0
